<div class="card-panel card_overlay round_card card-large white-text">
  <h4 id="message" ><%= @event_message %></h4>
  <a class="table_links" href="/sources/<%= @client.identifier %>/events">Events Index</a>
</div>

<table class="centered bordered my_table white-text">
  <thead>
    <tr>
      <th data-field="id">Hour</th>
      <th data-field="name">Occurence</th>
    </tr>
  </thead>

  <tbody id="by_hours">
    <% 24.times do |i| %>
    <tr>
      <td><%= i %>:00</td>
      <td><%= @client.total_event_by_hours(@event_type.name)[i.to_f]%></td>
    </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <td><%= @client.total_event(@event_type.name) %></td>
    </tr>
  </tbody>
</table>
